{
  "presets": [["env", {
    "useBuiltIns": true,
    "modules": false,
    "loose": true
  }], "stage-0"],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    },
    "test": {
      "plugins": []
    }
  }
}
